<nav class="nav">
  <header class="nav-header">Service Registry</header>
  <div class="nav-item">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
      ><mat-icon>home</mat-icon></a
    >
  </div>
  <div class="nav-item">
    <a
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      ><mat-icon>login</mat-icon></a
    >
  </div>
  <div class="nav-item">
    <a routerLink="/id" routerLinkActive="active" ariaCurrentWhenActive="page"
      ><mat-icon>create-icon</mat-icon></a
    >
  </div>
</nav>
