<form [formGroup]="serviceForm" class="service-form">
  <!--<h2>{{ serviceForm.value | json }}</h2> -->
  <mat-form-field class="service-form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="name?.invalid && name?.touched">
      Name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"> </textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created By</mat-label>
    <input matInput formControlName="created_by" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <mat-select matInput placeholder="Icon" formControlName="icon">
      <mat-option *ngFor="let icon of icons" [value]="icon">
        {{ icon }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group formControlName="type">
    <mat-radio-button value="CONSUL">Consul</mat-radio-button>
  </mat-radio-group>

  <div formGroupName="server_config">
    <h2>Server Config</h2>
    <mat-form-field class="service-form-sfield">
      <mat-label>Host</mat-label>
      <input matInput formControlName="host" />
    </mat-form-field>
    <mat-form-field class="service-form-sfield">
      <mat-label>Port</mat-label>
      <input matInput type="number" placeholder="Port" formControlName="port" />
    </mat-form-field>
  </div>

  <div *ngIf="loading; else createButtons">
    <mat-spinner style="width: 5%"></mat-spinner>
  </div>
  <ng-template #createButtons>
    <div class="service-form-buttons">
      <button
        class="service-form-btn"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="serviceForm.invalid"
        (click)="handleCreate(serviceForm)"
      >
        Create
      </button>
      <button
        class="service-form-btn"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="serviceForm.invalid"
        (click)="handleUpdate(serviceForm)"
      >
        Update
      </button>
      <button
        class="service-form-btn"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="serviceForm.invalid"
        (click)="handleDelete()"
      >
        Delete
      </button>
      <button
        class="service-form-btn"
        mat-raised-button
        color="accent"
        type="button"
        (click)="serviceForm.reset()"
      >
        Reset Form
      </button>
    </div>
  </ng-template>
</form>
