<div class="base-container">
  <form [formGroup]="loginForm" class="service-form">
    <mat-form-field class="service-form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="username?.invalid && username?.touched">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="service-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="password?.invalid && password?.touched">
        Please enter a password
      </mat-error>
    </mat-form-field>
    <div *ngIf="false; else loginButton">
      <mat-spinner style="width: 5%"></mat-spinner>
    </div>
    <ng-template #loginButton>
      <div class="service-form-buttons">
        <button
          class="service-form-btn"
          mat-raised-button
          color="primary"
          type="button"
        >
          Login
        </button>
        <button
          class="service-form-btn"
          mat-raised-button
          color="primary"
          type="button"
        >
          <img
            src="assets/img/google.svg"
            alt="Login with Google"
            style="width: 1.7rem"
          />
        </button>
      </div>
    </ng-template>
    <p>
      Dont have an account?
      <a style="font-weight: bold">Click here to register</a>
    </p>
  </form>
</div>
