<div class="base-container">
  <div class="flex-box-test">
    <div class="flexbox-txt">
      <h1>{{ service.name }}</h1>
    </div>
    <div class="test-box">
      <img
        src="/assets/img/{{ service.icon }}.svg"
        [alt]="service.name"
        class="igme"
      />
    </div>
  </div>
  <div>
    <h2>{{ service.description }}</h2>
  </div>

  <span> </span>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifications: {{ service.modifications.length }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container
      *ngFor="let modification of service.modifications; let odd = odd"
    >
      <div
        class="testlol"
        [style.border-color]="odd ? 'rgb(127, 183, 206)' : 'rgb(223, 122, 236)'"
      >
        <mat-panel-title>
          Modified by: {{ modification.modified_by }}
        </mat-panel-title>
        <mat-panel-description>
          Modified at: {{ modification.modified_at | date : 'yyyy-MM-dd' }}
        </mat-panel-description>
      </div>
    </ng-container>
  </mat-expansion-panel>

  <div (click)="update()" style="margin-top: 2rem">
    <button mat-raised-button color="primary">
      Update Service<mat-icon color="white">create-icon</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
